@import url("https://fonts.googleapis.com/css?family=Libre+Franklin|Lora");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  font-family: 'Lora', serif;
  /* font-family: Helvetica, Tahoma, "Lucide Grande", Arial, sans-serif; */
  /* target /context = result 18/16 */
  font-size: 1.125rem;
  line-height: 1.2222222222rem;
  -webkit-font-smoothing: antialiased;
}

p {
  padding-bottom: 1.2222222222rem;
}

h1, h2, h3, h4 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 1.618rem;
  line-height: 1.83333333333rem;
  padding-bottom: 1.8333333333333rem;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}

/* top menu */

nav.top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav.top-menu li  {
    float: left;
}

nav.top-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav.top-menu li a:hover li a:active {
    background-color: #999;
}

/* image and video styling*/

img, video {
  display:block;
  max-width: 100%;
}

video.portrait {
  max-height: 90vh;
  margin: 0 auto;
}

/* layout for images in body of pages */

figure.screenshot {
  background: #222;
  color: #eee;
  padding: 0.42rem;
  align-content: center;
  margin: auto;
}

figure.screenshot figcaption {
  text-align: center;
   padding-top: 0.3rem;
 }


figure.screenshot-left {
  float: left;
  background: #222;
  color: #eee;
  padding: 0.42rem;
  margin: auto;
  max-width: 30%;
}
figure.screenshot-left figcaption {
   padding-top: 0.3rem;
   font-size: .86rem;
   line-height: .96rem;
   text-align: center;
 }

 figure.screenshot-right {
   float: right;
   background: #222;
   color: #eee;
   padding: 0.42rem;
   margin: auto;
   max-width: 30%;
 }
 figure.screenshot-right figcaption {
    padding-top: 0.3rem;
    font-size: .86rem;
    line-height: .96rem;
    text-align: center;
  }


  /* format images in the about page*/



  .about-photo-grid {
  	margin: 10px;
  	max-width: 1600px;
  	text-align: center;
  }

  .about-photo-grid > li {
  	border: 5px solid white;
  	display: inline-block;
  	margin: 10px;
  	width: 300px;
    height: 360px;
  }



  .about-photo-grid figure {
  	height: 360px;
  	overflow: visible;
  	position: relative;
  	width: 300px;
  }

  .about-photo-grid figcaption {
  	background: rgba(0,0,0,0.8);
  	color: white;
  	display: block;
  	height: 360;
    font-size: 1rem;
    line-height: 1.16rem;
  	left: 0;
  	opacity: 1;
  	position: absolute;
  	right: 0;
  	top: 200;
  	z-index: 100;
  }

  .about-photo-grid figcaption p {
    box-sizing: border-box;
    padding: 10px;
  	display: block;
  	position: relative;
  	top: 35px;
  	width: 300px;
    height: 200px;
    vertical-align: middle;
    font-size: 0.9rem;
  }



  .about-photo-grid img {
  	display: block;
  	height: auto;
  	width: 300px;
  }

  .about-image-right {
  	height: auto;
  	background: rgba(0,0,0,0.8);
    float:right;
    text-align: center;
    font-size: .9rem;
    font-style: italic;
    color: white;
  	width: 150px;
  }

  .about-image-right  a:link {
  color: white;
  }
  .about-image-right  a:visited {
  color: white;
  }



  .about-image-left {
  	height: auto;
  	background: rgba(0,0,0,0.8);
    float:left;
    text-align: center;
    font-size: .9rem;
    font-style: italic;
    color: white;
  	width: 150px;
  }

  .about-image-left  a:link {
  color: white;
  }
  .about-image-left  a:visited {
  color: white;
  }



/* layout for opening screen */

#opening-container {
  display: grid;
  grid: repeat(4, 25%) / auto-flow 25%;
  grid-gap: 20px;
  padding: 18px;

}

#opening-container > li {
  font-size: .618rem;
  font-weight: bold;
  background-color: #eee;
  padding: 5px;
  margin: auto;
}

.opening-photo-grid {
	margin: 10px;
	max-width: 1600px;
	text-align: center;
}

.opening-photo-grid > li {
	border: 5px solid white;
	display: inline-block;
	margin: 10px;
	width: 300px;
}

.opening-photo-grid img {
	display: block;
	height: auto;
	max-width: 300px;
}

.opening-photo-grid figure {
	height: auto;
	overflow: hidden;
	position: relative;
	width: 300px;
}

.opening-photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: block;
	height: 100%;
  font-size: 1rem;
  line-height: 1.16rem;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.opening-photo-grid figcaption p {
  box-sizing: border-box;
  padding: 10px;
	display: block;
	position: relative;
	top: 35px;
	width: 300px;
  vertical-align: middle;
  font-size: 0.9rem;
}

.opening-photo-grid li:hover figcaption {
	opacity: 1;
}

.opening-photo-grid img {
	display: block;
	height: auto;
	width: 300px;
}

.caption-themes  {
  background: #999;
  font-size: 0.9rem;
  line-height: 1.2rem;
	display: block;
	height: auto;
	width: 300px;
  position: absolute;
	right: 0;
	bottom: 0;
}

.caption-topic  {
  padding: 5px;
  background: #999;
  font-size: 1rem;
  line-height: 1.2rem;
	display: block;
	height: 30px;
  box-sizing: border-box;
	width: 300px;
  position: absolute;
	right: 0;
	top: 0;
}



/* layout for the footer on subpages */

#footer-container {
  display: grid;
  grid: repeat(2, 16%) / auto-flow 16%;
  grid-gap: 10px;
  padding: 10px;
}

#footer-container > li {
  width: 16%;
  font-size: .618rem;
  font-weight: bold;
  background-color: #eee;
  padding: 5px;
  margin: auto;
}

.photo-grid {
	max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.photo-grid li {
	display: inline-block;
	margin: 10px;
  width: 150px;
}

.photo-grid li a {
  color: white;
  font-size: 0.8rem;
}

.photo-grid img {
	display: block;
	height: auto;
	max-width: 150px;
}

.photo-grid figure {
	height: auto;
	overflow: hidden;
	position: relative;
	width: 150px;
}

.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 100%;
  font-size: .7rem;
  padding: 2px;
  line-height: 1rem;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.photo-grid figcaption p {
	display: table-cell;
	position: relative;
	top: -40px;
	width: 150px;
	vertical-align: middle;
}

.photo-grid li:hover figcaption {
	opacity: 1;
}


.photo-grid img {
	display: block;
	height: auto;
	max-width: 100%;
}




/* hide the figure descriptions for now */

.rollover {
  display: none;
}




/* format floating quotes */

.pullquote-left {
    float: left;
    font-size: 1.16rem;
    width: 30%;
    background: #eee;
    padding: 10px;
    margin: auto;
}

.attribution {
font-size: 1rem;
font-style: italic;
color: #999;
}

.pullquote-right {
    float: right;
    font-size: 1.16rem;
    width: 30%;
    background: #eee;
    padding: 10px;
    margin: auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: #efefef;
    display: none;
    overflow: hidden;
}

.panel h3 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  padding-bottom: .6rem;
  padding-top: 1.6rem;
}

/* =================
    Custom Styles
    June 20, 2018
   =================*/

/* header */
.header {
  background: #333;
  box-shadow: 0 10px 15px #ccc;
}

.header h1 {
  color: #333;
  margin: 0;
  padding: 30px 0;
  min-height: 70px;
}

.header nav {
  background: #333;
}

.header nav ul li {
  transition: 0.2s ease-in-out all;
  border-radius: 3px;
  border: 1px solid #999;
  padding: 15px 25px;
  margin: 20px;
  color: #999;
}

.header nav ul li:hover {
  background: #999;
  color: #333;
}

@media (min-width: 1024px) {
  .header nav ul {
    display: flex;
  }
  .header h1 {
    min-height: 140px;
  }
}

@media (max-width: 1024px) {
  .header nav {
    padding: 10px 0;
  }
}

header + article {
  margin-top: 40px!important;
}

/* Panel */
.show-panel {
  line-height: 1.25rem;
  padding: 30px 90px;
  background: #999;
  border-radius: 6px;
  border: 1px solid #ece2ce;
  color: #222;
}

@media (min-width: 1024px) {
  .show-panel {
    padding: 50px 0 50px 40px;
  }

  .show-panel p {
    width: 800px;
  }
}

/* common */
@media (min-width: 1024px) {
  .container {
    width: 1024px;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}

.content {
  padding-top: 25px;
}

li {
  font-family: 'Libre Franklin', sans-serif;
}

/* custom index page */
#header {
  background-image: url('../assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: bottom 15% right 20%;
}

/* opening-photo-grid */
.opening-photo-grid {
  margin: initial;
  max-width: initial;
  margin-top: 20px;
}

.opening-photo-grid h2 {
  padding: 20px;
  background: #222;
  color: white;
}

.opening-photo-grid li figcaption {
  transition: 0.3s all ease-in-out;
}

.opening-photo-grid li img {
  transition: 0.1s all ease-in-out;
}

.opening-photo-grid li:hover img {
  transform: scale(1.15);
}

.opening-photo-grid li h2 {
  transition: 0.1s all ease-in-out;
}

.opening-photo-grid li:hover h2 {
  transform: rotate(-8deg);
  transform-origin:0 100%;
}

/* footer */
footer {
  background: #333;
  min-height: 100px;
  color: white;
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
  padding: 30px 0;
  box-sizing: border-box;
}

/* .accordion */
.accordion {
  position: relative;
}
.accordion::after {
  display: inline-block;
  content: "";
  background: url('../images/arrow.png');
  background-size: contain;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 15px;
}

/* article */
.page-content {
  margin-bottom: 100px;
}

.page-content p {
  line-height: 1.5rem;
}

.page-content h2 {
  font-size: 1.3rem;
  padding: 40px 0;
}

.page-content .pullquote-left {
  padding: 40px;
  box-sizing: border-box;
  margin-right: 30px;
  font-family: 'Libre Franklin', sans-serif;
  line-height: 1.5rem;
}

.page-content .pullquote-right {
  padding: 40px;
  box-sizing: border-box;
  margin-left: 30px;
  font-family: 'Libre Franklin', sans-serif;
  line-height: 1.5rem;
}

@media (max-width: 1024px) {
  .pullquote-left, .pullquote-right {
    float: none;
    margin: 20px 0!important;
    width: 100%;
  }
}
