/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  font-family: 'Lora', serif;
  /* font-family: Helvetica, Tahoma, "Lucide Grande", Arial, sans-serif; */
  /* target /context = result 18/16 */
  font-size: 1.125rem;
  line-height: 1.2222222222rem;
  -webkit-font-smoothing: antialiased;
}

p {
  padding-bottom: 1.2222222222rem;
}

h1, h2, h3, h4 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 1.618rem;
  line-height: 1.83333333333rem;
  padding-bottom: 1.8333333333333rem;
}

/* top menu */

nav.top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav.top-menu li  {
    float: left;
}

nav.top-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav.top-menu li a:hover {
    background-color: #111;
}


/* image and video styling*/

img, video {
  display:block;
  max-width: 100%;
}

video.portrait {
  max-height: 90vh;
  margin: 0 auto;
}


aside.materials {
  display:block;
  font-size: .809rem;
  width: 30%;
  background: #eee;
  background-image: url("assets/img/materials-900-60.jpg");
  padding: 10px;
  margin: auto;
}

aside.video {
  float: left;
  align-content: space-around;
  margin: auto;
  max-width: 40%;
}


figure.screenshot-left {
    float: left;
  background: #222;
  color: #eee;
  padding: 0.61111111rem;
  margin: auto;
  max-width: 40%;
}
figure.screenshot-left p {
   padding-top: 0.61111111rem;
 }

/* layout for opening screen */

#opening-container {
  display: grid;
  grid: repeat(4, 25%) / auto-flow 25%;
  grid-gap: 20px;
  padding: 18px;

}

#opening-container > li {
  font-size: .618rem;
  font-weight: bold;
  background-color: #eee;
  padding: 5px;
  margin: auto;
}

/* layout for the footer on subpages */

#footer-container {
  display: grid;
  grid: repeat(2, 16%) / auto-flow 16%;
  grid-gap: 10px;
  padding: 10px;
}

#footer-container > li {
  width: 16%;
  font-size: .618rem;
  font-weight: bold;
  background-color: #eee;
  padding: 5px;
  margin: auto;
}

/*
experimenting with new footer
*/


.footer-grid {
	margin: 5px;
	max-width: 1600px;
	text-align: center;
}

.footer-grid li {
	border: 3px solid white;
	display: inline-block;
	margin: 3px;
	width: 100px;
}

.footer-grid img {
	display: block;
	height: auto;
	max-width: 100px;
}

.footer-grid figure {
	height: auto;
	overflow: hidden;
	position: relative;
	width: 100px;
}

.footer-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: block;
	height: 100%;
  font-size: .81rem;
  line-height: 1.0rem;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.footer-grid figcaption p {
	display: block;
	position: relative;
	top: 3px;
	width: 100px;
	vertical-align: middle;
}

.footer-grid li:hover figcaption {
	opacity: 1;
}



.caption-themes  {
  background: #999;
  font-size: 1rem;
  line-height: 1.2rem;
	display: block;
	height: auto;
	width: 300px;
  position: absolute;
	right: 0;
	bottom: 0;
}

.caption-topic  {
  background: #999;
  font-size: 1rem;
  line-height: 1.2rem;
	display: block;
	height: 30px;

	width: 300px;
  position: absolute;
	right: 0;
	top: 0;
}




/* experimenting with new opening grid */

.opening-photo-grid {
	margin: 10px;
	max-width: 1600px;
	text-align: center;
}

.opening-photo-grid > li {
	border: 5px solid white;
	display: inline-block;
	margin: 10px;
	width: 300px;
}

.opening-photo-grid img {
	display: block;
	height: auto;
	max-width: 300px;
}

.opening-photo-grid figure {
	height: auto;
	overflow: hidden;
	position: relative;
	width: 300px;
}

.opening-photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: block;
	height: 100%;
  font-size: 1rem;
  line-height: 1.16rem;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.opening-photo-grid figcaption p {
  box-sizing: border-box;
  padding: 10px;
	display: block;
	position: relative;
	top: 35px;
	width: 300px;
  vertical-align: middle;
  font-size: 0.9rem;
}

.opening-photo-grid li:hover figcaption {
	opacity: 1;
}


.opening-photo-grid img {
	display: block;
	height: auto;
	width: 300px;
}

.caption-themes  {
  background: #999;
  font-size: 0.9rem;
  line-height: 1.2rem;
	display: block;
	height: auto;
	width: 300px;
  position: absolute;
	right: 0;
	bottom: 0;
}

.caption-topic  {
  padding: 5px;
  background: #999;
  font-size: 1rem;
  line-height: 1.2rem;
	display: block;
	height: 30px;
  box-sizing: border-box;
	width: 300px;
  position: absolute;
	right: 0;
	top: 0;
}







/*  experimenting with new footer */



.photo-grid {
	margin: 10px;
	max-width: 1200px;
	text-align: center;
}

.photo-grid li {
	border: 5px solid white;
	display: inline-block;
	margin: 10px;
	width: 150px;
}

.photo-grid img {
	display: block;
	height: auto;
	max-width: 150px;
}

.photo-grid figure {
	height: auto;
	overflow: hidden;
	position: relative;
	width: 150px;
}

.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 100%;
  font-size: .81rem;
  line-height: 1rem;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.photo-grid figcaption p {
	display: table-cell;
	position: relative;
	top: -40px;
	width: 150px;
	vertical-align: middle;
}

.photo-grid li:hover figcaption {
	opacity: 1;
}


.photo-grid img {
	display: block;
	height: auto;
	max-width: 100%;
}




/* hide the figure descriptions for now */

.rollover {
  display: none;
}


/* format floating quotes */

.pullquote-left {
    float: left;
    font-size: 1.16rem;
    width: 30%;
    background: #eee;
    padding: 10px;
    margin: auto;
}

.pullquote-right {
    float: right;
    font-size: 1.16rem;
    width: 30%;
    background: #eee;
    padding: 10px;
    margin: auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}


/* =================
    Custom Styles
    June 20, 2018
   =================*/

/* header */
.header {
  background: #BB9E6A;
  box-shadow: 0 10px 15px #ccc;
}

.header h1 {
  color: white;
  margin: 0;
  padding: 30px 0;
  min-height: 70px;
}

.header nav {
  background: #C68723;
}

.header nav ul li {
  transition: 0.2s ease-in-out all;
  border-radius: 3px;
  border: 1px solid #ffdba4;
  padding: 15px 25px;
  margin: 20px;
  color: #ffdba4;
}

.header nav ul li:hover {
  background: #ffdba4;
  color: #C68723;
}

@media (min-width: 1024px) {
  .header nav ul {
    display: flex;
  }
  .header h1 {
    min-height: 140px;
  }
}

@media (max-width: 1024px) {
  .header nav {
    padding: 10px 0;
  }
}

/* Panel */
.show-panel {
  line-height: 1.25rem;
  padding: 30px 90px;
  background: #f7ebd8;
  border-radius: 6px;
  border: 1px solid #ece2ce;
  color: #757575;
}

@media (min-width: 1024px) {
  .show-panel {
    padding: 50px 0 50px 40px;
  }

  .show-panel p {
    width: 800px;
  }
}

/* common */
@media (min-width: 1024px) {
  .container {
    width: 1024px;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}

.content {
  padding-top: 25px;
}

li {
  font-family: 'Libre Franklin', sans-serif;
}

/* custom index page */
#header {
  background-image: url('../images/videoicon.png');
  background-repeat: no-repeat;
  background-position: bottom 15% right 20%;
}

/* opening-photo-grid */
.opening-photo-grid {
  margin: initial;
  max-width: initial;
  margin-top: 20px;
}

.opening-photo-grid h2 {
  padding: 20px;
  background: #222;
  color: white;
}

.opening-photo-grid li figcaption {
  transition: 0.3s all ease-in-out;
}

.opening-photo-grid li img {
  transition: 0.1s all ease-in-out;
}

.opening-photo-grid li:hover img {
  transform: scale(1.15);
}

.opening-photo-grid li h2 {
  transition: 0.1s all ease-in-out;
}

.opening-photo-grid li:hover h2 {
  transform: rotate(-8deg);
  transform-origin:0 100%;
}

/* footer */
footer {
  background: #795315;
  min-height: 100px;
  color: white;
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
  padding-top: 30px;
  box-sizing: border-box;
}